@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbf8ec;
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 1208px;
  margin: 0 auto;
  width: 100%;
}
